<div class="edit-user-form-wrapper" style="background-image:
      linear-gradient(rgba(255,255,255, 0),
      rgba(0, 0, 0, 0.4)),
      url(<%= image_path('https://images.unsplash.com/photo-1511881830150-850572962174?ixlib=rb-0.3.5&s=bfad606b3a48da2ce739a9abe98f0ccf&auto=format&fit=crop&w=1534&q=80')%>);"
  >
  <div class="logo-sessions-position">
    <%= link_to root_path do %>
      <%= render 'shared/sidebar-logo' %>
    <% end %>
  </div>
  <div class="devise-form-container">
    <div class="new-devise-form-container">
      <div class="new-devise-form-heading">
        <h1>Reenviar instrucciones de confirmación</h1>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Reenviar instrucciones de confirmación", class: "btn form-btn" %>
        </div>
        <div class="login-links">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
