<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <div class="show-image-cover"style="background-image: url('<%= cl_image_path('Default Pics/show-banner.jpg') %>');">
  </div>
  <div class="show-image-avatar flex flex-center">
    <div class="avatar-big responsive-avatar" style="background-image: url('<%= cl_image_path('Default Pics/boy.png') %>');">
    </div>
  </div>
  <h4 class="text-center"><%= @owner.name %></h4>
  <div class="table-container-simple flex flex-center">
    <table>
      <tr>
        <td> <strong> Cédula: </strong> </td>
        <td class="text-align-right"><%= @owner.card_number %></td>
      </tr>
      <tr>
        <td> <strong> Teléfono: </strong> </td>
        <td class="text-align-right"><%= @owner.phone %></td>
      </tr>
      <tr>
        <td> <strong> Correo: </strong> </td>
        <td class="text-align-right"><%= @owner.email %></td>
      </tr>
    </table>
  </div>
  <h4 class="text-center">Propiedades en el edificio</h4>
  <div class="show-table table-container margin-bottom-end-small">
    <div class="table">
        <div class="table-row" id="shares-table">
          <div class="table-header">Propiedad</div>
          <div class="table-header">Porcentaje de participación</div>
          <div class="table-header">Porcentaje de pago de cuota</div>
          <div class="table-header">Acciones</div>
        </div>
        <% @owner.shares.each do |share| %>
          <%= render 'shared/share-row', share: share %>
        <% end %>
        <%= render 'shared/share-form', share: @share, form_class: "new-share-form hidden" %>
    </div>
  </div>
  <%= link_to "#", class: "show-new-share-form"  do %>
    <i class="material-icons">
      add
    </i>
    <span>Agregar propiedad</span>
  <% end %>
  <h5 class="properties-index-title margin-top-big">Estado de cartera</h5>
  <div class="show-table table-container">
    <div class="table">
      <div class="table-row">
        <div class="table-header">Periodo</div>
        <div class="table-header">Monto</div>
        <div class="table-header">Estado</div>
      </div>
      <% group_bills_by_period(@owner.bills).each do |period, bills_array| %>
        <div data-id="<%=period%>" class="table-row-link table-row" onclick= "location.href= '<%= building_bills_path(@building, bills_array) %>'">
          <div class="table-data"><%=period%></div>
          <% amount = amount_by_bill_period(bills_array)  %>
          <div class="table-data"><%=money_without_cents_and_with_symbol(amount)%></div>
          <div class="flex flex-center">
            <div class="table-data debt-status-mid status-padding <%= status_color_class(amount) %>"></div>
          </div>
        </div>
      <% end %>
    </div class="table">
  </div>
</div>

