<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <h1 class="properties-index-title">Lista de propiedades</h1>
  <div class="table-container">
    <table>
      <tr>
        <th>Tipo Propiedad</th>
        <th>Número</th>
        <th>Propietarios</th>
        <th>Coeficiente de Copropiedad</th>
        <th>Area (mt2)</th>
        <th>Teléfono de la propiedad</th>
        <th>Matricula Inmobiliaria</th>
      </tr>
      <% @properties.each do |property| %>
          <tr class="table-row-link" onclick= "location.href= '<%= building_property_path(@building, property)%>'">
            <td><%=property.property_type%></td>
            <td><%=property.name%></td>
            <td><%= property.owners.map(&:name).join(", ") %></td>
            <td><%="#{property.building_coeficient * 100}%"%></td>
            <td><%=property.area%></td>
            <td><%=property.phone%></td>
            <td><%=property.matricula_inmobiliaria%></td>
          </tr>
      <% end %>
    </table>
  </div>
  <a class="mdc-fab fab-bottom-right fab-color" aria-label="Favorite" href="<%= new_building_property_path %>">
   <i class="material-icons">
    account_balance
   </i>
   +
  </a>
</div>


