<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <h1 class="properties-index-title">Lista de propiedades</h1>
  <div class="table-container">
    <div class="table">
      <div class="table-row">
        <div class="table-header">Tipo Propiedad</div>
        <div class="table-header">Número</div>
        <div class="table-header">Propietarios</div>
        <div class="table-header">Coeficiente de Copropiedad</div>
        <div class="table-header">Area (mt2)</div>
        <div class="table-header">Teléfono de la propiedad</div>
        <div class="table-header">Matricula Inmobiliaria</div>
        <div class="table-header">Acciones</div>
      </div>
      <% @properties.each do |property| %>
          <div data-id="<%=property.id%>" class="table-row-link table-row" onclick= "location.href= '<%= building_property_path(@building, property)%>'">
            <div class="table-data"><%=property.property_type%></div>
            <div class="table-data"><%=property.name%></div>
            <div class="table-data"><%= property.owners.map(&:name).join(", ") %></div>
            <div class="table-data"><%= percentage(property.building_coeficient) %></div>
            <div class="table-data"><%=property.area%></div>
            <div class="table-data"><%=property.phone%></div>
            <div class="table-data"><%=property.matricula_inmobiliaria%></div>
            <div class="table-data">
              <%= link_to edit_building_property_path(@building, property), class: "edit-property" do %>
                <i class="material-icons">
                  create
                </i>
              <% end %>
              <%= link_to building_property_path(@building, property), class: "destroy-property", method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                <i class="material-icons">
                  delete
                </i>
              <% end %>
            </div>
          </div>
      <% end %>
    </div class="table">
  </div>
  <a class="mdc-fab fab-bottom-right fab-color" aria-label="Favorite" href="<%= new_building_property_path %>">
   <i class="material-icons">
    account_balance
   </i>
   +
  </a>
</div>


