<%= render "shared/sidebar" %>
<div class="page-content-wrapper">
  <div class="new-building-form-container">
    <div class="new-building-form-heading">
      <h1>Crear una nueva propiedad en <%= @building.name %></h1>
    </div>
    <%= simple_form_for([@building, @property]) do |f| %>
      <i class="fas fa-building"></i>
      <%= f.input :property_type, label: "Tipo de propiedad", collection: Property.property_types.keys %>
      <%= f.input :name, label: "Número de la propiedad"%>
      <%= simple_form_for(Share.new) do |p| %>
        <%= p.association :owner %>
      <% end %>

      <%#= f.association :owners, label: "Propietarios" %>
      <%= f.input :phone, label: "Teléfono de la propiedad" %>
      <%= f.input :address, label: "Dirección de la propiedad" %>
      <%= f.input :matricula_inmobiliaria, label: "Número de matricula inmobiliaria" %>
      <%= f.input :area, label: "Área de la propiedad en mt2" %>
      <%= f.input :building_coeficient, label: "Coeficiente de copropiedad", input_html: { step: 0.001 }%>
      <%= f.input :building_id, as: :hidden, input_html: { value: @building.id } %>
      <span class="new-building-form-btns">
        <%= link_to "cancelar", building_properties_path(@building), class:"form-btn--no-background" %>
        <%= f.submit "Crear", class:"btn form-btn" %>
      </span>
    <% end %>
  </div>
</div>
