<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <div class="show-image-cover" style="background-image: url('<%= cl_image_path('Default Pics/show-banner.jpg') %>');">
  </div>
  <div class="show-image-avatar flex flex-center">
    <div class="avatar-big house-avatar responsive-avatar" style="background-image: url('<%= cl_image_path('Default Pics/house.png') %>');">
    </div>
  </div>
  <h3 class="property-title text-center"><%= @property.full_name %></h4>
  <h4 class="building-title text-center"><%= @property.building.name %></h4>
  <div class="table-container-simple flex flex-center">
    <table>
      <tr>
        <td> <strong> Teléfono: </strong> </td>
        <td class="text-align-right"><%= @property.phone %></td>
      </tr>
      <tr>
        <td> <strong> Matricula Inmobiliaria: </strong> </td>
        <td class="text-align-right"><%= @property.matricula_inmobiliaria %></td>
      </tr>
      <tr>
        <td> <strong> Área(mt2): </strong> </td>
        <td class="text-align-right"><%= @property.area %></td>
      </tr>
      <tr>
        <td> <strong> Coeficiente de copropiedad: </strong> </td>
        <td class="text-align-right"><%= percentage(@property.building_coeficient) %></td>
      </tr>
    </table>
  </div>
  <hr class="show-share-division">
  <h4 class="shares-title text-center">Propietarios de la propiedad</h4>
  <div class="show-table table-container margin-bottom-end-small">
    <div class="table">
        <div class="table-row" id="shares-table">
          <div class="table-header">Propietario</div>
          <div class="table-header">Porcentaje de participación</div>
          <div class="table-header">Porcentaje de pago de cuota</div>
          <div class="table-header">Acciones</div>
        </div>
        <% @property.shares.order(created_at: :desc).each do |share| %>
          <%= render 'shared/share-row', share: share %>
        <% end %>
        <%= render 'shared/share-form', share: @share, form_class: "new-share-form hidden" %>
    </div>
  </div>
    <%= link_to "#", class: "show-new-share-form"  do %>
      <i class="material-icons">
        add
      </i>
      <span>Agregar propertario</span>
    <% end %>
  <h5 class="properties-index-title margin-top-big">Estado de cartera</h5>
  <div class="show-table table-container">
    <div class="table">
      <div class="table-row">
        <div class="table-header">Responsable</div>
        <div class="table-header">Periodo</div>
        <div class="table-header">Monto</div>
        <div class="table-header">Estado</div>
      </div>
      <% @property.bills.each do |bill| %>
        <div data-id="<%=bill.id%>" class="table-row">
          <div class="table-data"><%=bill.share.owner.name%></div>
          <div class="table-data"><%=bill.period%></div>
          <div class="table-data"><%=money_without_cents_and_with_symbol(bill.sum_concepts_amount)%></div>
          <div class="flex flex-center">
            <div class="table-data debt-status-mid status-padding <%= status_color_class(bill.sum_concepts_amount) %>"></div>
          </div>
        </div>
      <% end %>
    </div class="table">
  </div>
</div>
