<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <div class="show-image-cover">
  </div>
  <div class="show-image-avatar flex flex-center">
    <div class="avatar-big boy-avatar responsive-avatar">
    </div>
  </div>
  <h4 class="text-center"><%= @property.full_name %></h4>
  <div class="table-container-simple flex flex-center">
    <table>
      <tr>
        <td> <strong> Teléfono: </strong> </td>
        <td class="text-align-right"><%= @property.phone %></td>
      </tr>
      <tr>
        <td> <strong> Matricula Inmobiliaria: </strong> </td>
        <td class="text-align-right"><%= @property.matricula_inmobiliaria %></td>
      </tr>
      <tr>
        <td> <strong> Área(mt2): </strong> </td>
        <td class="text-align-right"><%= @property.area %></td>
      </tr>
      <tr>
        <td> <strong> Coeficiente de copropiedad: </strong> </td>
        <td class="text-align-right"><%= percentage(@property.building_coeficient) %></td>
      </tr>
    </table>
  </div>
  <h4 class="text-center">Propietarios de la propiedad</h4>
  <div class="show-table table-container margin-bottom-end">
    <table>
        <tr>
          <th>Propietario</th>
          <th>Porcentaje de participación</th>
          <th>Porcentaje de pago de cuota</th>
        </tr>
        <% @property.shares.each do |share| %>
          <tr>
            <td> <%= share.property.name  %> </td>
            <td> <%= percentage(share.ownerability_percentage) %></td>
            <td> <%= percentage(share.payment_percentage) %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
