<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <div class="show-image-cover">
  </div>
  <div class="show-image-avatar flex flex-center">
    <div class="avatar-big house-avatar responsive-avatar">
    </div>
  </div>
  <h3 class="property-title text-center"><%= @property.full_name %></h4>
  <h4 class="building-title text-center"><%= @property.building.name %></h4>
  <div class="table-container-simple flex flex-center">
    <table>
      <tr>
        <td> <strong> Teléfono: </strong> </td>
        <td class="text-align-right"><%= @property.phone %></td>
      </tr>
      <tr>
        <td> <strong> Matricula Inmobiliaria: </strong> </td>
        <td class="text-align-right"><%= @property.matricula_inmobiliaria %></td>
      </tr>
      <tr>
        <td> <strong> Área(mt2): </strong> </td>
        <td class="text-align-right"><%= @property.area %></td>
      </tr>
      <tr>
        <td> <strong> Coeficiente de copropiedad: </strong> </td>
        <td class="text-align-right"><%= percentage(@property.building_coeficient) %></td>
      </tr>
    </table>
  </div>
  <hr class="show-share-division">
  <h4 class="shares-title text-center">Propietarios de la propiedad</h4>
  <div class="show-table table-container margin-bottom-end">
    <table>
        <tr id="shares-table">
          <th>Propietario</th>
          <th>Porcentaje de participación</th>
          <th>Porcentaje de pago de cuota</th>
          <th>Acciones</th>
        </tr>
        <% @property.shares.order(created_at: :desc).each do |share| %>
          <%= render 'shared/share-row', share: share %>
        <% end %>
        <tr class="new-share-form <%= 'hidden' if @share.errors.messages.size.zero? %>">
          <%= render 'shared/share-form', share: @share %>
        </tr>
    </table>
  </div>
  <% class_list = "show-new-share-form no-form-btn" %>
    <%= link_to "Agregar propertario", "#", class: class_list %>
</div>
