<div class="bill-card">
  <div class="bill-number position-relative flex flex-justify-flex-end">
    <div class="bill-info-row-left">
      Factura No: <%= bill.id %>
    </div>
  </div>
  <div class="card-top">
    <div class="card-image-avatar flex flex-center">
      <div class="avatar-big responsive-avatar in-card-avatar" style="background-image: url('<%= cl_image_path('Default Pics/boy.png') %>');">
      </div>
    </div>
    <h5 class="text-center avatar-bottom-text"><%= bill.share.owner.name %></h5>
  </div>
  <div class="info-conainer">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="bill-info-left">
          <div class="bill-info-row flex flex-justify-space-between">
            <div class="bill-info-row-left">
              Copropiedad:
            </div>
            <div class="bill-info-row-right">
              <%= bill.share.property.building.name %>
            </div>
          </div>
          <div class="bill-info-row flex flex-justify-space-between">
            <div class="bill-info-row-left">
              Propiedad:
            </div>
            <div class="bill-info-row-right">
              <%= bill.share.property.full_name %>
            </div>
          </div>
          <div class="bill-info-row flex flex-justify-space-between">
            <div class="bill-info-row-left">
              Periodo
            </div>
            <div class="bill-info-row-right">
              <%= bill.period %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="bill-info-right">
          <div class="bill-info-row flex flex-justify-space-between">
            <div class="bill-info-row-left">
              Total cuota:
            </div>
            <div class="bill-info-row-right">
              <%= money_without_cents_and_with_symbol(bill.sum_concepts_amount) %>
            </div>
          </div>
          <div class="bill-info-row flex flex-justify-space-between">
            <div class="bill-info-row-left">
              Total Pagado:
            </div>
            <div class="bill-info-row-right">
              <%= money_without_cents_and_with_symbol(bill.sum_concepts_amount_paid) %>
            </div>
          </div>
          <div class="bill-info-row flex flex-justify-space-between">
            <div class="bill-info-row-left">
              <strong>
                Total Adeudado:
              </strong>
            </div>
            <div class="bill-info-row-right">
              <strong>
                <%= money_without_cents_and_with_symbol(bill.bill_debt) %>
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-center">
  <%= link_to "+ Registar pago", edit_building_bill_concept_path(@building, bill, bill.concepts.first), class:"btn btn-pay text-center" %>
</div>
