<%= simple_form_for [@building, @budget], html: { class: "form-inline" } do |f| %>
  <% if @budget.errors.messages.keys.include? :building %>
    <% @budget.errors.messages[:building].each do |message| %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        La copropiedad <%= message %>
      </div>
    <% end %>
  <% end %>
  <%= f.input :start_date, as: :string , label: "Mes de inicio" , input_html: { class: "datepicker" }, placeholder: "Ej: Ene #{Date.today.year}" %>
  <%= f.input :end_date, as: :string , label: "Mes de vencimiento" , input_html: { class: "datepicker" }, placeholder: "Ej: Dic #{Date.today.year}" %>
  <%= f.input :amount, label: "Presupuesto para el período", placeholder: "Ej: 100.000.000", input_html: { class: "amount-input" } %>
  <%= f.input :building_id, as: :hidden, input_html: { value: @building.id } %>
  <% if action_name == "new" || action_name == "create" %>
    <%= f.input :status, as: :hidden, input_html: { value: true } %>
  <% elsif action_name == "edit" || action_name == "update" %>
    <%= f.input :status, label: "Utilizar como presupuesto activo" %>
  <% end %>
  <span class="new-property-form-btns">
    <%= link_to "cancelar", building_budgets_path(@building), class:"form-btn--no-background" %>
    <% if action_name == "new" %>
      <%= f.submit "Crear", class:"btn form-btn" %>
    <% else %>
      <%= f.submit "Editar", class:"btn form-btn" %>
    <% end %>
  </span>
<% end %>
