<div class="table-row" data-controller="item-form" data-target="invoice-form.row">

  <div class="table-data">
    <%= item.name %>
  </div>

  <div class="table-data">
    <input
      class="item-quantity no-style-input text-center"
      data-target="invoice-form.quantity"
      type="number"
      disabled="disabled"
      value="<%= item.quantity %>"
    >
  </div>

  <div class="table-data">
    <input
      class="item-price no-style-input text-center"
      data-controller="cleave"
      type="text"
      value="<%= item.price %>"
      disabled="disabled"
    >
  </div>

  <div class="table-data">
    <input
      class="item-vat no-style-input text-center"
      value="<%= item.vat %>"
      data-target="invoice-form.vat"
      type="number"
      disabled="disabled"
    >
  </div>

  <div class="table-data">
    <input
      class="item-discount no-style-input text-center"
      value="<%= item.discount %>"
      data-target="invoice-form.discount"
      type="number"
      disabled="disabled"
    >
  </div>

  <div class="table-data">
    <input
      type="text"
      class="item-total no-style-input text-center"
      value="<%= item.gross_total %>"
      data-controller="cleave"
      disabled="disabled">
  </div>
  <% if  items_delete_params %>
    <div class="table-data">
      <%= link_to business_invoice_path(invoice_id, items_delete_params), class: "delete-attachement", remote: true,  method: :patch, data: { confirm: "¿Estás Seguro?", action: "ajax:success->item-form#deleteItemRow" } do%>
        <i class="material-icons"> delete </i>
      <% end %>
    </div>
  <% end %>
</div>
