<div  class="table-row nested-fields"
      data-controller="item-form"
      data-target="invoice-form.row"
      data-action="keyup->item-form#recalculateTotal change->item-form#recalculateTotal keyup->invoice-form#calculateTotals change->invoice-form#calculateTotals"
>
  <div class="table-data min-width-200">
    <% if f.object.name %>
      <%= f.input :name, label: false %>
    <% else %>
    <%= f.input :name,
                collection: [ ["" ,"", data: { placeholder: true }] ],
                label: false,
                input_html: {
                  data: {
                    controller: "slim-select",
                    slim_select_type: "itemSelector",
                    slim_select_fetch_url: business_items_path(@business)
                  }
                }
    %>
    <% end %>
  </div>
  <div class="table-data min-width-100">
    <%= f.input :quantity,
                label: false,
                input_html: {
                  min: '0',
                  class: "item-quantity",
                  data: {
                    action: "focus->invoice-form#calculateTotals",
                    target: "item-form.quantity invoice-form.quantity"
                  }
                }
    %>
  </div>
  <div class="table-data min-width-200">
    <%= f.input :price,
                label: false,
                input_html: {
                  class: "amount-input item-price",
                  min: '0',
                  data: {
                    controller: "cleave",
                    action: "focus->cleave#mountCleave",
                    target: "item-form.price invoice-form.price"
                  }
                }
    %>
  </div>
  <div class="table-data min-width-100">
    <%= f.input :vat,
                label: false,
                input_html: {
                  step: 0.01,
                  value: 0.19,
                  class: "item-vat",
                  data: { target: "item-form.vat invoice-form.vat" }
                }
    %>
  </div>
  <div class="table-data min-width-100">
    <%= f.input :discount,
                label: false,
                input_html: {
                  step: 0.001,
                  value: 0,
                  class: "item-discount",
                  data: { target: "item-form.discount invoice-form.discount" }
                }
    %>
  </div>
  <div class="table-data min-width-200">
    <%= f.input :fake_total,
                as: :fake,
                label: false,
                disabled: true,
                input_html: {
                  class: "item-total",
                  value: f.object.gross_total?,
                  data: {
                    controller: "cleave",
                    action: "focus->cleave#mountCleave",
                    target: "item-form.total"
                  }
                }
    %>
  </div>
  <div class="table-data">
    <%= f.input :_destroy, as: :hidden %>
    <%= link_to "#", data: { action: "click->nested-form#remove_association click->invoice-form#setCalulationsTimer" }  do %>
      <button class="close-form-btn no-style-btn">
        <i class="material-icons">
          clear
        </i>
      </button>
    <% end %>
  </div>
</div>
