<% unless devise_controller? %>
  <div class="navbar-wagon <%= navbar_color %> <%= do_not_render_navbar_web %>">
    <div class="navbar-wagon-item navbar-wagon-dropicon hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu <%= "hidden" unless render_navbar_dropdown %>">
          <% if current_user %>
            <li><%= link_to "Cerrar Sesi贸n", destroy_user_session_path , method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <% else %>
          <li><%= link_to "Iniciar Sesi贸n", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"  %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <a href="/" class="navbar-wagon-brand">
      <%= render 'shared/sidebar-logo' %>
    </a>
    <div class="navbar-wagon-item navbar-wagon-invisible hidden-md hidden-lg">

    </div>

    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <% if current_user %>
        <%= link_to "Cerrar Sesi贸n", destroy_user_session_path , method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
      <% else %>
        <%= link_to "Iniciar Sesi贸n", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"  %>
      <% end %>
    </div>

  </div>
<% end %>
