  <%= simple_form_for [@building, @owner]  do |f| %>
    <%= f.input :name, label: "Nombre del propietario"%>
    <%= f.input :card_number, label: "Cédula del propietario"%>
    <%= f.input :phone, label: "Teléfono del propietario"%>
    <%= f.input :email, label: "Correo electrónico del propietario"%>
    <%= f.input :building_id, as: :hidden, input_html: { value: @building.id } %>
    <span class="new-property-form-btns">
      <%= link_to "cancelar", building_owners_path, class:"form-btn--no-background" %>
      <% if action_name == "new" || action_name == "create" %>
        <%= f.submit "Crear", class:"btn form-btn" %>
      <% else %>
        <%= f.submit "Editar", class:"btn form-btn" %>
      <% end %>
    </span>
  <% end %>
