<tr class="hidden edit-share-form" data-share-id="<%= share.id %>">
  <%= render 'shared/share-form', share: share %>
</tr>
<tr class="share-info-row" data-share-id="<%= share.id %>">
  <td>
    <%= share.owner.name  %>
  </td>
  <td>
    <%= percentage(share.ownerability_percentage) %>
  </td>
  <td>
    <%= percentage(share.payment_percentage) %>
  </td>
  <td>
    <%= link_to "#", class: "edit-share-info" do %>
      <i class="material-icons">
        create
      </i>
    <% end %>
    <%= link_to share_path(share), method: :delete, data: { confirm: '¿Estás seguro?' } do %>
      <i class="material-icons">
        delete
      </i>
    <% end %>
  </td>
</tr>
