<%= simple_form_for(share, remote: true, html: { class: "#{form_class} table-row" }) do |f| %>
  <div class="table-data">
    <% if @render == "properties" %>
      <%= f.association :owner, collection: @building.owners, label: false %>
    <% elsif @render == "owners" %>
      <%= f.association :property, collection: @building.properties, label_method: :full_name, label: false %>
    <% end %>
  </div>
  <div class="table-data">
    <%= f.input :ownerability_percentage,  input_html: { step: 0.001 }, placeholder: "Ej: 0.1", label: false%>
  </div>
  <div class="table-data">
    <%= f.input :payment_percentage,  input_html: { step: 0.001 }, placeholder: "Ej: 0.1", label: false%>
  </div>
  <div class="table-data">
    <% if @render == "properties" %>
      <%= f.association :property, collection: @building.properties, input_html: { value: @property.id }, as: :hidden%>
    <% elsif @render == "owners" %>
      <%= f.association :owner, collection: @building.owners, input_html: { value: @owner.id }, as: :hidden%>
    <% end %>
    <input class="hidden" value="<%= @render %>" type="hidden" name="render[name]" >
    <button type="submit" class="submit-share-form no-style-btn">
      <i class="material-icons">
        check
      </i>
    </button>
    <button class="close-form-btn no-style-btn">
      <i class="material-icons">
        clear
      </i>
    </button>
  </div>
<% end %>
