<%= simple_form_for(share, remote: true, html: { class: "#{form_class} table-row" }) do |f| %>
  <div class="table-data">
    <%= f.association :owner, collection: current_user.owners, label: false %>
  </div>
  <div class="table-data">
    <%= f.input :ownerability_percentage,  input_html: { step: 0.001 }, placeholder: "Ej: 0.1", label: false%>
  </div>
  <div class="table-data">
    <%= f.input :payment_percentage,  input_html: { step: 0.001 }, placeholder: "Ej: 0.1", label: false%>
  </div>
  <div class="table-data">
    <%= f.association :property, collection: @building.properties, input_html: { value: @property.id }, as: :hidden%>
    <input class="hidden" value="<%= controller_name %>" type="hidden" name="render[name]" >
    <button type="submit" class="submit-share-form no-style-btn">
      <i class="material-icons">
        check
      </i>
    </button>
    <button class="close-form-btn no-style-btn">
      <i class="material-icons">
        clear
      </i>
    </button>
  </div>
<% end %>
