<%= render 'shared/share-form', share: share, form_class: "edit-share-form hidden" %>
<div class="table-row share-info-row" data-share-id="<%= share.id %>">
  <div class="table-data">
    <% if controller_name == "properties" %>
      <%= share.owner.name  %>
    <% else %>
      <%= share.property.full_name %>
    <% end %>
  </div>
  <div class="table-data">
    <%= percentage(share.ownerability_percentage) %>
  </div>
  <div class="table-data">
    <%= percentage(share.payment_percentage) %>
  </div>
  <div class="table-data">
    <%= link_to "#", class: "edit-share-info" do %>
      <i class="material-icons">
        create
      </i>
    <% end %>
    <%= link_to share_path(share), remote: true, class: "delete-share", method: :delete, data: { confirm: '¿Estás seguro?' } do %>
      <i class="material-icons">
        delete
      </i>
    <% end %>
  </div>
</div>
