<% if render_blue_sidebar %>
  <div id="mySidenav" class="sidebar">
    <div class="hidden-md hidden-lg">
      <a class="closebtn">&times;</a>
    </div>
    <div class="sidebar-logo">
      <%= link_to root_path, class: "hidden-xs hidden-sm" do %>
        <%= render 'shared/sidebar-logo' %>
      <% end %>
    </div>

    <% if @building %>

      <div class="sidebar-top">
        <div class="sidebar-top-user">
          <% if current_user.google_picture_url %>
            <%= image_tag current_user.google_picture_url, class: "sidebar-top-user-image" %>
            <i class="fas fa-cog"></i>
          <% else %>
              <i class="far fa-user-circle"></i>
              <i class="fas fa-cog"></i>
          <% end %>
        </div>

        <div class="sidebar-top-building menu-button" style="cursor: pointer;">
          <% other_buildings_of_current_user =  current_user.buildings.where.not(id: @building.id)%>
          <div class="dropdown">
            <h6 id="dLabel" type="button" data-toggle="<%="dropdown" unless other_buildings_of_current_user.empty? %>" aria-haspopup="true" aria-expanded="false">
              <%= @building.name %>
              <i class="fas fa-caret-down"></i>
            </h6>
            <hr>
            <ul class="dropdown-menu dropdown-sidebar" aria-labelledby="dLabel">
              <% other_buildings_of_current_user.each do |building|%>
                <li class="building-list-item">
                  <%= link_to building.name,building_path(building)%>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>
      <div class="sidebar-links">
        <a class="sidebar-link <%= "active" if controller_name == "buildings" %>" href="/buildings/<%= @building.id %>">
          <i class="material-icons">
            home
          </i>
          <span>Dashboard</span>
        </a>
        <a class="sidebar-link <%= "active" if controller_name == "budgets" %>" href="/buildings/<%= @building.id %>/budgets">
          <i class="material-icons">
            bar_chart
          </i>
          <span>Presupuesto</span>
        </a>
        <a class="sidebar-link <%= "active" if controller_name == "properties" %>" href="/buildings/<%= @building.id %>/properties">
          <i class="material-icons">
            account_balance
          </i>
          <span>Propiedades</span>
        </a>
        <a class="sidebar-link <%= "active" if controller_name == "owners" %>" href="/buildings/<%= @building.id %>/owners">
          <i class="material-icons">
            people
          </i>
          <span>Copropietarios</span>
        </a>
        <a class="sidebar-link <%= "active" if controller_name == "bills" %>" href="/buildings/<%= @building.id %>/bills/new">
          <i class="material-icons">
            people
          </i>
          <span>Cobrar Cuota</span>
        </a>
        <a class="sidebar-link <%= "active" if controller_name == "pages" %>" href="<%= support_path %>">
          <i class="material-icons">
            help
          </i>
          <span>Soporte</span>
        </a>
      </div>
    <% else %>
      <div class="sidebar-links">
        <a class="sidebar-link <%= "active" if action_name == "home" %>" href="<%= root_path %>">
          <i class="material-icons">
            home
          </i>
          <span>Inicio</span>
        </a>
        <a class="sidebar-link <%= "active" if action_name == "budgets" %>" href="#">
          <i class="material-icons">
            people
          </i>
          <span>Nosotros</span>
        </a>
        <a class="sidebar-link <%= "active" if action_name == "properties" %>" href="#">
          <i class="material-icons">
            phone
          </i>
          <span>Contacto</span>
        </a>
        <a class="sidebar-link <%= "active" if devise_controller? %>" href="<%= new_user_session_path %>">
          <i class="material-icons">
            vpn_key
          </i>
          <span>Iniciar Sesión</span>
        </a>
      </div>
    <% end %>

    <div class="sidebar-bottom">
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "sidebar-signout"%>
    </div>
  </div>
<% end %>
