<% if render_blue_sidebar %>
  <div class="sidebar hidden-xs hidden-sm">
    <div class="sidebar-logo"">
      <%= link_to root_path do %>
        <%= image_tag "logo.png"%>
      <% end %>
    </div>

    <div class="sidebar-top">
      <div class="sidebar-top-user">
        <i class="far fa-user-circle"></i>
        <i class="fas fa-cog"></i>
      </div>

      <div class="sidebar-top-building menu-button mdc-menu-anchor" style="cursor: pointer;">
          <% other_buildings_of_current_user =  current_user.buildings.where.not(id: @building.id)%>
          <% unless other_buildings_of_current_user.empty? %>
            <div class="mdc-menu" tabindex="-1">
              <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                <% other_buildings_of_current_user.each do |building|%>
                  <li class="mdc-list-item building-list-item" role="menuitem" tabindex="0">
                    <%= link_to building.name,building_path(building)%>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <h6>
          <%= @building.name %>
          <i class="fas fa-caret-down"></i>
        </h6>
        <hr>
      </div>
    </div>

    <div class="sidebar-links">
      <a class="sidebar-link <%= "active" if controller_name == "buildings" %>" href="/buildings/<%= @building.id %>">
        <i class="material-icons">
          home
        </i>
        <span>Dashboard</span>
      </a>
      <a class="sidebar-link <%= "active" if controller_name == "properties" %>" href="/buildings/<%= @building.id %>/properties">
        <i class="material-icons">
          account_balance
        </i>
        <span>Propiedades</span>
      </a>
      <a class="sidebar-link <%= "active" if controller_name == "owners" %>" href="/buildings/<%= @building.id %>/owners">
        <i class="material-icons">
          people
        </i>
        <span>Copropietarios</span>
      </a>
      <a class="sidebar-link <%= "active" if controller_name == "bills" %>" href="/buildings/<%= @building.id %>/bills/new">
        <i class="material-icons">
          people
        </i>
        <span>Cobrar Cuota</span>
      </a>

    </div>
    <div class="sidebar-bottom">
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "sidebar-signout"%>
    </div>
  </div>
<% end %>
