<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <% if @invoice_equivalents.size == 0 %>
    <h3 class="alert alert-blue property-title text-center">
      <i class="material-icons">
       info
      </i>
      Aún no tienes ningún documento equivalente a factura de venta, agrega uno para comenzar
    </h3>
  <% else %>
    <h1 class="app-index-title">Lista de Documentos Equivalentes</h1>
    <div class="table-container table-container--no-margin-bottom">
      <div class="table">
        <div class="table-row">
          <div class="table-header">Número</div>
          <div class="table-header">Beneficiario</div>
          <div class="table-header">Detalle</div>
          <div class="table-header">Fecha</div>
          <div class="table-header">Valor Operación</div>
          <div class="table-header">Rte Fuente</div>
          <div class="table-header">Total a Pagar</div>
          <div class="table-header">Acciones</div>
          <div class="table-header">Impreso</div>
        </div>
        <% @invoice_equivalents.each do |invoice_equivalent| %>
            <div class="table-row-link table-row"
                 data-controller="table-row"
                 data-table-row-location="<%= business_invoice_equivalent_path(@business, invoice_equivalent)%>"
            >
              <div class="table-data" data-action="click->table-row#visitLocation"><%= invoice_equivalent.formated_number %></div>
              <div class="table-data" data-action="click->table-row#visitLocation"><%= invoice_equivalent.contact.name %></div>
              <div class="table-data" data-action="click->table-row#visitLocation"><%= invoice_equivalent.description %></div>
              <div class="table-data white-space-no-wrap" data-action="click->table-row#visitLocation"><%= invoice_equivalent.date %></div>
              <div class="table-data white-space-no-wrap" data-action="click->table-row#visitLocation"><%= humanized_money_with_symbol invoice_equivalent.amount %></div>
              <div class="table-data white-space-no-wrap" data-action="click->table-row#visitLocation"><%= humanized_money_with_symbol invoice_equivalent.retention %></div>
              <div class="table-data white-space-no-wrap" data-action="click->table-row#visitLocation"><%= humanized_money_with_symbol invoice_equivalent.total %></div>
              <div class="table-data white-space-no-wrap">
                <%= link_to print_business_invoice_equivalent_path(@business, invoice_equivalent), target: :blank  do %>
                  <i class="material-icons"> print </i>
                <% end %>
                <%= link_to edit_business_invoice_equivalent_path(@business, invoice_equivalent), class: "edit-property" do %>
                  <i class="material-icons"> create </i>
                <% end %>
                <%= link_to business_invoice_equivalent_path(@business, invoice_equivalent), class: "destroy-property", method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                  <i class="material-icons"> delete </i>
                <% end %>
              </div>
              <div class="table-data">
                <%= check_box_tag 'printed', invoice_equivalent.id, invoice_equivalent.printed,
                    data: {
                      remote: true,
                      url: toggle_printed_business_invoice_equivalent_path(@business, invoice_equivalent),
                      method: :post
                    }
                %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <%= will_paginate @invoice_equivalents, renderer: BootstrapPagination::Rails, class: "hidden-sm hidden-xs" %>
    <%= will_paginate @invoice_equivalents, renderer: BootstrapPagination::Rails, page_links: false, class: "hidden-lg hidden-md" %>
  <% end %>
  <a class="mdc-fab fab-bottom-right fab-color" aria-label="Favorite" href="<%= new_business_invoice_equivalent_path %>">
    <i class="material-icons">
      description
    </i>
   +
  </a>
</div>


