<%= render 'shared/sidebar' %>
  <div class="banner" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1524749292158-7540c2494485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
    <div class="banner-content">
      <h1>Software administrativo para empresas</h1>
      <p>Organiza la información financiera, realiza facturas, egresos, recibos de caja, y más.</p>
      <div class="banner-call-to-actions">
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "banner-btn--no-background" %>
        <%= link_to "Regístrarse", new_user_registration_path, class: "banner-btn" %>
      </div>
    </div>
  </div>
  <div class="after-banner">
    <div class="section-content-div" id="features">
      <h2>Conoce Peggo</h2>
      <p>Administra tus necogios en un mismo lugar y de forma estandarizada. Reduce el tiempo y evita reprocesos.  Registra facturas, ingresos y pagos para mantener tus cuentas organizadas.</p>
      <div class="section-list-container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="section-content-div-element">
              <div class="list-element-icon">
                <%= render 'shared/pc-icon' %>
                <!-- <i class="fas fa-money-bill"></i> -->
              </div>
              <h4>Adminstra mejor</h4>
              <p>
                 Realiza y registra toda la información contable como facturas, egresos, ingresos, etc. Mantente informado en tiempo real sobre tu empresa.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="section-content-div-element">
              <div class="list-element-icon">
                <%= render 'shared/centralized-icon' %>
              </div>
              <h4>Directorio de Información</h4>
              <p>
                Ten siempre disponible y desde cualquier lugar los datos de contacto de los tus proveedores y clientes como: correos, teléfonos, pagos y deudas.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="section-content-div-element">
              <div class="list-element-icon">
                <%= render 'shared/checklist-icon' %>
              </div>
              <h4>Registro contable</h4>
              <p>
               Podrás registrar documentos contables como facturas, egresos y recibos de caja <strong>de forma totalmente virtual</strong> y simple.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="section-content-div-element">
              <div class="list-element-icon">
                <%= render 'shared/businesses-icon' %>
              </div>
              <h4>Multiples Empresas</h4>
              <p>
               No te limites a administar solo una empresa, aprovecha las ventajas de Peggo, haz creecer tu negocio y comienza a organizar la información de en todas tus compañias.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="section-content-div-element">
              <div class="list-element-icon">
                <%= render 'shared/budget' %>
              </div>
              <h4>Exportar información</h4>
              <p>
                Ajusta tus cuentas, realiza informes y envia cruces contables al contador, gracias a la posiblidad de exportar tu información ordenada a un solo click.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="section-content-div-element">
              <div class="list-element-icon">
                <%= render 'shared/email-icon' %>
              </div>
              <h4>Cobros por correo electrónico (proximamente)</h4>
              <p>
               Envía de forma automática el cobro de la facturas a los clientes y registra los pagos realizados virtualmente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" id="contact">
      <div class="footer-links">
        <a href="https://www.instagram.com/12_startups/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/573216458798" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="footer-copyright">
        <i class="fas fa-copyright"></i>2018 made with <i class="fa fa-heart"></i> by Scuad Team
      </div>
    </div>
  </div>
<%= render 'shared/tawk-chat' %>
