<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <h3 class="expense-title text-center">Recibo de caja num: <%= @payment.formated_number %></h4>
  <h4 class="business-title text-center">Por concepto de: <%= @payment.description.downcase %></h4>
  <div class="table-container-simple flex flex-center">
    <div class="show-actions">
      <%= link_to print_business_payment_path(@business, @payment),class: "btn show-action-btn", target: :blank  do %>
        Imprimir
        <i class="material-icons"> print </i>
      <% end %>
      <%= link_to edit_business_payment_path(@business, @payment), class: "btn show-action-btn" do %>
        Editar
        <i class="material-icons"> create </i>
      <% end %>
      <%= link_to business_payment_path(@business, @payment), class: "btn show-action-btn", method: :delete, data: { confirm: '¿Estás seguro?' } do %>
        Eliminar
        <i class="material-icons"> delete </i>
      <% end %>
    </div>
    <div class="table-container show-table">
      <div class="table">
        <div class="table-row">
          <div class="table-header">Número</div>
          <div class="table-data"><%= @payment.formated_number %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Beneficiario</div>
          <div class="table-data"><%= @payment.contact.name %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Detalle</div>
          <div class="table-data"><%= @payment.description %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Fecha</div>
          <div class="table-data"><%= @payment.date %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Forma de Pago</div>
          <div class="table-data"><%= @payment.payment_method %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Monto</div>
          <div class="table-data"><%= humanized_money_with_symbol @payment.amount %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Retención</div>
          <div class="table-data"><%= @payment.retention_full_name %></div>
        </div>
        <div class="table-row">
          <div class="table-header">Observaciones</div>
          <div class="table-data white-space-wrap"><%= @payment.observation %></div>
        </div>
      </div>
    </div>
  </div>
</div>
