<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <% if @expenses.size == 0 %>
    <h3 class="alert alert-blue property-title text-center">
      <i class="material-icons">
       info
      </i>
      Aún no tienes ningún egreso, agrega uno para comenzar
    </h3>
  <% else %>
    <h1 class="app-index-title">Lista de Egresos</h1>
    <div class="table-container">
      <div class="table">
        <div class="table-row">
          <div class="table-header">Número</div>
          <div class="table-header">Beneficiario</div>
          <div class="table-header">Detalle</div>
          <div class="table-header">Fecha</div>
          <div class="table-header">Forma de Pago</div>
          <div class="table-header">Monto</div>
          <div class="table-header">Acciones</div>
        </div>
        <% @expenses.each do |expense| %>
            <div data-id="<%=expense.id%>" class="table-row-link table-row">
              <div class="table-data" onclick= "location.href= '<%= business_expense_path(@business, expense)%>'"><%= expense.formated_number %></div>
              <div class="table-data" onclick= "location.href= '<%= business_expense_path(@business, expense)%>'"><%= expense.beneficiary %></div>
              <div class="table-data" onclick= "location.href= '<%= business_expense_path(@business, expense)%>'"><%= expense.description %></div>
              <div class="table-data" onclick= "location.href= '<%= business_expense_path(@business, expense)%>'"><%= expense.date %></div>
              <div class="table-data" onclick= "location.href= '<%= business_expense_path(@business, expense)%>'"><%= expense.payment_method %></div>
              <div class="table-data" onclick= "location.href= '<%= business_expense_path(@business, expense)%>'"><%= humanized_money_with_symbol expense.amount %></div>
              <div class="table-data">
                <%= link_to print_business_expense_path(@business, expense), target: :blank  do %>
                  <i class="material-icons"> print </i>
                <% end %>
                <%= link_to edit_business_expense_path(@business, expense), class: "edit-property" do %>
                  <i class="material-icons"> create </i>
                <% end %>
                <%= link_to business_expense_path(@business, expense), class: "destroy-property", method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                  <i class="material-icons"> delete </i>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <a class="mdc-fab fab-bottom-right fab-color" aria-label="Favorite" href="<%= new_business_expense_path %>">
   <i class="material-icons">
    credit_card
   </i>
   +
  </a>
</div>


