<%= content_for :title, @expense.pdf_file_name %>

<div class="pdf-container">
  <div class="pdf-top">
    <% if @business.logo.present? %>
      <div class="bussines-logo" style="background-image: url('<%= cl_image_path @business.logo, width: 300, height: 100, crop: :fill; %>')">
      </div>
    <% end %>
    <div class="bussines-info">
      <h3 class="text-center"><%= @business.name %></h3>
      <p class="text-center" >NIT <%= @business.tax_id %></p>
      <p class="text-center" ><%= @business.address %></p>
      <p class="text-center" ><%= @business.cell_phone %></p>
      <p class="text-center" ><%= @business.email %></p>
    </div>
    <div class="expense-number-box">
      <h4 class="text-center">Comprobante de egreso</h4>
      <h3 class="text-center">No. <%= @expense.formated_number %></h3>
    </div>
  </div>
  <div class="pdf-center">
    <table class="benificary-info">
      <tr>
        <th colspan="1">Beneficiario</th>
        <td colspan="3"><%= @contact.name %></td>
        <th colspan="1" rowspan="1" class="expense-date-header">Fecha (DD/MM/AA)</td>
      </tr>
      <tr>
        <th colspan="1">Dirección</th>
        <td colspan="3"><%= @contact.address %></td>
        <td rowspan="4" class="expense-date-value"><h3><%= @expense.formated_date %></h3></td>
      </tr>
      <tr>
        <th colspan="1">Ciudad</th>
        <td colspan="3"><%= @contact.city %></td>
      </tr>
      <tr>
        <th colspan="1"><%= @contact.phone_numbers_label_for_pdf %></th>
        <td colspan="1"><%= @contact.phone_numbers %></td>
        <th colspan="1">Método de Pago</th>
        <td colspan="1"><%= @expense.payment_method %></td>
      </tr>
      <tr>
        <th colspan="1"><%= @contact.tax_id_type.split("-")[0] %></th>
        <td colspan="1"><%= @contact.tax_id %></td>
        <th colspan="1">Cuenta</th>
        <td colspan="1"></td>
      </tr>
    </table>
    <table class="expense-info">
      <thead>
        <tr>
          <th colspan="4">Concepto</th>
          <th colspan="1">Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @concepts.each do |concept| %>
          <tr>
            <td colspan="4"><%= concept.name %></td>
            <td colspan="1" class="concept-value"><%= humanized_money_with_symbol(concept.gross_total) %></td>
          </tr>
        <% end %>
        <% size = 10 - @concepts.size > 0 ?  10 - @concepts.size : 0 %>
        <% size.times do %>
          <tr>
            <td colspan="4"></td>
            <td colspan="1" class="concept-value"> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <table>
      <tr>
        <td colspan="4" rowspan="2"  class="notes-box">Observaciones: <%= @expense.observation %></td>
        <td colspan="1"  class="subtotal-title">Subtotal</td>
        <td colspan="1"  class="subtotal-value"><%= humanized_money_with_symbol(@expense.concepts_subtotal) %></td>
      </tr>
      <tr>
        <td colspan="1"  class="subtotal-title">IVA</td>
        <td colspan="1"  class="subtotal-value"><%= humanized_money_with_symbol(@expense.concepts_vat_subtotal) %></td>
      </tr>
      <tr>
        <td colspan="4" rowspan="2"></td>
        <% if @expense.retention_type %>
          <td colspan="1"  class="subtotal-title negative-value"><%= @expense.retention_type %></td>
          <td colspan="1"  class="subtotal-value negative-value"><%= humanized_money_with_symbol(@expense.retention) %></td>
        <% else %>
          <td colspan="1"  class="subtotal-title negative-value">Retención en la fuente</td>
          <td colspan="1"  class="subtotal-value negative-value"><%= humanized_money_with_symbol(-1 * @expense.retention) %></td>
        <% end %>
      </tr>
      <tr>
        <td colspan="1"  class="grand-total-title" >Total</td>
        <td colspan="1"  class="grand-total-value"><%= humanized_money_with_symbol(@expense.total) %></td>
      </tr>
    </table>
  </div>
  <div class="pdf-bottom">
    <span class="text-center made-by">ELABORADO POR</span>
    <span class="text-center accepeted-by">ACEPTADA, FIRMA Y/O SELLO Y FECHA</span>
  </div>


</div>
