<%= render 'shared/sidebar' %>
<div class="page-content-wrapper">
  <h3 class="property-title text-center">Egreso num: <%= @expense.formated_number %></h4>
  <h4 class="building-title text-center">Por concepto de: <%= @expense.description.downcase %></h4>
  <div class="table-container-simple flex flex-center">
    <table>
      <tr>
        <td> <strong> Beneficiario: </strong> </td>
        <td class="text-align-right"><%= @expense.beneficiary %></td>
      </tr>
      <tr>
        <td> <strong> Fecha: </strong> </td>
        <td class="text-align-right"><%= @expense.date %></td>
      </tr>
      <tr>
        <td> <strong> Método de pago: </strong> </td>
        <td class="text-align-right"><%= @expense.payment_method %></td>
      </tr>
      <tr>
        <td> <strong> Monto: </strong> </td>
        <td class="text-align-right"><%= humanized_money_with_symbol(@expense.amount) %></td>
      </tr>
      <tr>
        <td> <strong> Adjuntos: </strong> </td>
            <td class="text-align-right">
              <% @attachments.each do |attachment| %>
              <div class="attachments-container">
                <% attachments_delete_params = {
                    expense: {
                      building_id: @building.id,
                      attachments_attributes: {
                        id: attachment.id,
                        _destroy: true
                      }
                    },
                  }
                %>
                <%= link_to attachment.name, cl_image_path(attachment.file.filename), target: :blank  %>
                <%= link_to building_expense_path(@expense, attachments_delete_params), class: "delete-attachement", method: :patch, data: { confirm: 'Are you sure?' } do%>
                  Eliminar
                  <i class="material-icons"> delete </i>
                <% end %>
              </div>
              <% end %>
            </td>
      </tr>
      <%= link_to "imprimir", print_building_expense_path(@building, @expense), target: :blank %>
    </table>
  </div>
</div>
